:root {
  --brandColor: #2e2f42;
  --logoColor: #4d5ae5;
}

body {
  font-family: "Roboto", "Lato", "Comme", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logoColor);
  margin-right: 76px;
}

.logo-studio {
  color: var(--brandColor);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.logo-white-studio {
  color: #f4f4fd;
}

.hiden-text {
  display: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  color: var(--brandColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: inherit;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus,
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-section {
  background-color: var(--brandColor);
  width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.text-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.main-page-blocks-text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brandColor);
}

.blocks-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  width: 264px;
}

.fourth-section {
  background-color: #f4f4fd;
}

.main-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--brandColor);
}

.background-for-image {
  background-color: #ffffff;
}

.names-of-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brandColor);
}

.rank-of-team {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-section {
  background-color: var(--brandColor);
  width: 1440px;
  height: 312px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  height: 112px;
  padding-top: 16px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: var(--logoColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Блоковая модель */

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header-boarder {
  border-bottom: 1px solid #e7e9fc;
}

.flex-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.nav-first-li {
  margin-right: 40px;
}

.nav-second-li {
  margin-right: 40px;
}

.nav-third-li {
  margin-right: 0px;
}

.address-list {
  display: flex;
}

.address-email {
  margin-right: 40px;
}

.address-telephone {
  margin-right: 0px;
}
